In [1]:
import pandas as pd
import numpy as np
import os
import sys
import glob

In [2]:
os.chdir('../models')

In [3]:
path = os.getcwd()

In [4]:
files = glob.glob(os.path.abspath(path) + '/*.csv')

In [5]:
files = [x for x in files if '_feat_imps_adj.csv' in x]

In [6]:
li = []
for f in files:
    li.append(pd.read_csv(f))
    
df = pd.concat(li, axis = 1)

In [7]:
df.columns = ['feature1', 'vif_score', 'feature2', 'hclust_score', 'feature3', 'mixed', 'feature', 'base']

In [8]:
df.drop(['feature1', 'feature2', 'feature3'], axis = 1, inplace = True)

In [9]:
cols = ['feature', 'base',  'hclust_score', 'vif_score', 'mixed']
df = np.round(df[cols].fillna(0), 2)

In [10]:
df.to_csv('importance_comps_adj.csv', index = False)

In [11]:
df

      feature  base  hclust_score  vif_score  mixed
0         age  0.15          0.11       0.11   0.11
1         job  0.08          0.06       0.06   0.06
2     marital  0.04          0.18       0.18   0.17
3   education  0.04          0.01       0.01   0.00
4     default  0.00          0.05       0.05   0.05
5     balance  0.17          0.09       0.09   0.09
6     housing  0.03          0.04       0.04   0.05
7        loan  0.01          0.22       0.23   0.22
8     contact  0.02          0.16       0.16   0.16
9         day  0.13          0.08       0.08   0.08
10      month  0.10          0.00       0.00   0.00
11   campaign  0.07          0.00       0.00   0.00
12      pdays  0.07          0.00       0.00   0.00
13   previous  0.03          0.00       0.00   0.00
14   poutcome  0.04          0.00       0.00   0.00